@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    padding: 0;
    margin: 0;
}
body{
    background: #FF0000; /* Fallback for older browsers */
    background: -webkit-linear-gradient(to right, #2e1515, #0a0a30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #110b0b, #0f0f13); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    
}

.sidebar-container a{
    color:white;
  transform: rotate(270deg);
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  font-weight: 500;
  font-size: 9px;
  text-transform: uppercase;
  color: #777676;
  transition: all .5s ease-in;
  cursor: pointer;
}

.sidebar-container a:hover{
color: red;
}

.ra::after{
width: 100px;
height: 10px;
background-color: rebeccapurple;
}

input:hover + input::after{
    width: 100%;
}