@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: black;
    
}

*{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.sidebar-container a{
    color:white;
  transform: rotate(270deg);
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 9px;
  text-transform: uppercase;
  color: #777676;
  transition: all .5s ease-in;
  cursor: pointer;
}

.sidebar-container a:hover{
color: red;
}